@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
html,
body {
    font-family: 'Noto Sans KR', 'Roboto' sans-serif;
}


/*로그인 페이지 custom*/

.login-page {
    background-color: #f8f8f8;
}

.body {
    background-color: #F5F5F5;
}

.header>.page-header {
    background-color: white;
}

div.main-breadcrumb,
div.main-breadcrumb.management {
    background-color: #0077C1;
    color: white;
}

.toolbar.global-menu {
    background-color: white;
    color: black;
}

.toolbar.global-menu a {
    color: black;
}

.toolbar.global-menu>a:hover {
    background-color: white !important;
    color: #0077C1;
}